controller:
  replicaCount: 3
  extraArgs:
    publish-service: nginx/nginx-ingress-controller
    v: "2"
  service:
    omitClusterIP: true
defaultBackend:
  service:
    omitClusterIP: true
rbac:
  create: true
